
$fontAwesomePath : '../components/font-awesome/font' !default;
@import 'bootstrap';
@import '../components/sass-bootstrap/lib/responsive';

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
}

#split_list {
  margin: 0; padding: 0;
}

#trash { 
  display: table;
  vertical-align: middle;
  padding: 5px 5px 5px 5px;
}

#trash .trash-label, #trash i {
  vertical-align:middle;
  display: table-cell;
}

#trash .trash-label {
  font-size : 18px;
}

.split_item, .split_placeholder {
  margin-top: 5px;
  padding: 5px 5px 5px 5px;
}


.split_item {
  background-color: #EFF04D;
  cursor: move;
  font-size:12px;
  line-height:1.5em;
  width: 100%;
}

.split_item  i {
  margin: auto 0 auto 0;
}

.split_item div {
    text-align: right;
}

.split_item_disabled {
  @extend .split_item;
  background-color: rgba(#EFF04D,0.4);
}

.split_placeholder {
  background-color: #eed;
  border-width: 1px;
  border-color: #222;
}

#plot {
  height: (($gridColumnWidth * 10) + ($gridGutterWidth * (10 - 1))) * (3/4);
  max-height: (($gridColumnWidth * 10) + ($gridGutterWidth * (10 - 1))) * (3/4);
  width : 100%;
  display: block;
}

#legend {
    margin-top: 30px;
    border: 1px black solid;
}

.fetch_cases{
  max-width: 300px;
  width:100%;
  font-size:11px;
}

.ui-autocomplete {
  width:100%;
  max-height: 120px;
  max-width: 300px;
  font-size:11px;
  background-color: white;
    overflow-y: auto; /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
.ui-helper-hidden {
  display: none;
}
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

body {
  position: relative;
  padding-top: 40px;
}
