
$fontAwesomePath : '../components/font-awesome/font' !default;
@import 'bootstrap';
@import 'vis';

/* states and images */
.ui-icon { background-image: url("../images/ui-icons_333333_256x240.png"); }
.ui-widget-content .ui-icon {background-image: url("../images/ui-icons_333333_256x240.png"); }
.ui-widget-header .ui-icon {background-image: url("../images/ui-icons_333333_256x240.png"); }
.ui-state-default .ui-icon { background-image: url("../images/ui-icons_888888_256x240.png"); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url("../images/ui-icons_454545_256x240.png"); }
.ui-state-active .ui-icon {background-image: url("../images/ui-icons_454545_256x240.png"); }
.ui-state-highlight .ui-icon {background-image: url("../images/ui-icons_888888_256x240.png"); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url("../images/ui-icons_B94A48_256x240.png"); }

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
}

#split_list {
  margin: 0; padding: 0;
}

.split_placeholder {
  background-color: #eed;
}

#plot {
  height: 600px; 
  width: 800px;
}

body {
  position: relative;
  padding-top: 40px;
}
