$fontAwesomePath : '../font' !default;
$baseFontFamily: "FontAwesome";

@import 'bootstrap';
@import '../bower_components/sass-bootstrap/lib/responsive';
@import '../bower_components/font-awesome/sass/font-awesome.scss';

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
}

#split_list {
  margin: 0; padding: 0;
}

#trash { 
  display: table;
  vertical-align: middle;
  padding: 5px 5px 5px 5px;
}

#trash .trash-label, #trash i {
  vertical-align:middle;
  display: table-cell;
}

#trash .trash-label {
  font-size : 18px;
}

.split_item, .split_placeholder {
  margin-top: 5px;
  padding: 5px 5px 5px 5px;
}


.split_item {
  background-color: #EFF04D;
  cursor: move;
  font-size:12px;
  line-height:1.5em;
  width: 100%;
}

.split_item  i {
  margin: auto 0 auto 0;
}

.split_item div {
    text-align: right;
}

.split_item_disabled {
  @extend .split_item;
  background-color: rgba(#EFF04D,0.4);
}

.split_placeholder {
  background-color: #eed;
  border-width: 1px;
  border-color: #222;
}

#plot {
  height: (($gridColumnWidth * 10) + ($gridGutterWidth * (10 - 1))) * (3/4);
  max-height: (($gridColumnWidth * 10) + ($gridGutterWidth * (10 - 1))) * (3/4);
  width : 100%;
  display: block;
}

#legend {
    margin-top: 30px;
    border: 1px black solid;
}

.fetch_cases{
  max-width: 300px;
  width:100%;
  font-size:11px;
}

.ui-autocomplete {
  width:100%;
  max-height: 120px;
  max-width: 300px;
  font-size:11px;
  background-color: white;
    overflow-y: auto; /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
.ui-helper-hidden {
  display: none;
}
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

body {
  position: relative;
  padding-top: 40px;
}


.cv_wrapper .data_point {
    stroke-width: 0px;
    shape-rendering: crispEdges;
}

.cv_wrapper .axis path,.cv_wrapper .axis line {
    fill: none;
    stroke: #000;
    stroke-width: 2.0px;
    shape-rendering: crispEdges;
}

.cv_wrapper .kde_line {
    shape-rendering: none;
    stroke-width: 1.5px;
    visibility: hidden;
}

.cv_wrapper .y.axis path, .cv_wrapper .y.axis line{
    stroke:#aaa;
}

.cv_wrapper .x.axis path, .cv_wrapper .x.axis line {
    stroke:none;
}

.axis_label, .ticks {
    font-size:16px;
}

.cv_wrapper .data_totals {
    font-size: 20px;
    font-weight: 400;
    shape-rendering: crispEdges;
}

.cv_wrapper .data_labels {
    font-size: 18px;
    font-weight: bold;
}

.cv_wrapper {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        max-width: 800px;
}

.cv_wrapper .cv {
    position: absolute;
}