.data_point {
    stroke-width: 2px;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    stroke-width: 1.0px;
    shape-rendering: crispEdges;
}

.y.axis path, .y.axis line{
    stroke:#aaa;
}

.x.axis path, .x.axis line {
    stroke:none;
    fill:none;
}